<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">

    <mat-form-field>
      <input matInput name="email" type="email" placeholder="E-Mail" ngModel email required autocomplete="username"
             #emailInput="ngModel">
      <mat-error *ngIf="emailInput.invalid">E-Mail is a required field</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="password" type="password" placeholder="Password" ngModel required autocomplete="current-password"
             #passwordInput="ngModel">
      <mat-error *ngIf="passwordInput.invalid">Password is a required field</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Login</button>

  </form>
</mat-card>