<mat-toolbar color="primary">
    <span routerLink="/"><a>My App</a></span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/joke" routerLinkActive="active">Jokes</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="active">New Post</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/signup" routerLinkActive="active">Signup</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </mat-toolbar>